<!DOCTYPE html>
<html>

<header>
    <link rel="stylesheet" href="../static/sr.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Judson">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</header>
    
<body>
    
    <div class="title">Josie's Bakery Custom Ordering</div>
    <div class="subtitle">HAND MADE, WITH LOVE</div>

    <div id="bodyContainer">
        <div id="confirmedMessage">
            <h1 id="confirmedLabel">Inquiry Submitted!</h1>
            <p id="message">
                Thank you for your inquiry. Please check your email for a confirmation. If you did
                not receive a confirmation email, please give us a call. Otherwise, a member of our 
                team will be in touch within two (2) business days (excluding Mondays as we are not 
                open).

                <br><br>We can't wait to work with you!<br><br>

                <p2 id="signature">The Josie's Bakery Team</p2>
            </p>
        </div>
    </div>
</body>

</html>