
/* Josie's Bakery Custom Ordering */
.title {
    text-align: center;
    font-size: 4.25vw;
    font-family: "Sacramento", serif;
    margin-top: 3%;
}

/* Hand Made, With Love */
.subtitle {
    text-align: center;
    font-size: 1.25vw;
    font-family: "Judson", Geneva, Tahoma, sans-serif;
    padding-top: 1%;
    color: #a80000;
}

.divider {
    height: 0.05vw;
    width: 100%;
    border: none;
    background-color: rgb(30, 30, 30);
    margin-top: 7%;
    margin-bottom: 7%;
}

/* Largest Container */
.bodyContainer {
    display: flex;
    margin: auto;
    padding-top: 1%;
}

#errorMessage {
    font-size: 1vw;
    color: red;
    font-family: 'Judson', serif;
    margin: auto;
    width: 59%;
    margin-top: 4%;
}

/* Contains the main form */
.formColumn {
    width: 59%;
    height: 50%;
    margin: auto;
    margin-top: 4%;
    padding: 2%;
}

/* Formatting for all the rows that are direct children of the <form> */
.nameInputRow, .date-itemsInputRow, .optionsRow {
    display: flex;
    margin-bottom: 4%;
}

/* Rows that contain the section labels (Cake Options, Cupcake Options, etc ...) */
.labelRow {
    margin-top: 5%;
    padding-top: 0%;
    margin-bottom: 5%;
    font-size: 2.5vw;
    font-family: "Sacramento", serif; 
    text-align: left;
    border-bottom: 1px solid black;
}

/* Formatting for columns that are children to a given row, grandchildren to <form> */
.childColumn {
    width: 45%;
    margin: auto; 
    height: auto;
}

#pastriesInputColumn, #otherInputColumn {
    width: 90%;
}

#ccStandard, #ccButtercreamDesc {
    margin-bottom: 15%;
}

/* Input & Input Label Formatting */
.inputLabel {
    flex-direction: column;
    font-family: 'Judson', Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: auto;
    margin-bottom: 1%;
    color: #a80000;
    font-size: 1.25vw;
    letter-spacing: 0.2rem;
}

/* Formatting for all the input fields */
.infoInput, .imageInput, .dayOfWeek, .typeSelect {
    font-size: 1.2vw;
    flex-direction: column;
    font-family:'Judson', Times, serif;
    width: 100%;
    height: 1.7vw;
    margin: auto;
    margin-bottom: 3%;
}

#designDescription, #pastriesInput {
    margin-top: 2%;
    padding-top: 2%;
}

#imageInput {
    height: 5vw;
    width: 20vw;
    font-size: 1vw;
    margin-top: 1%;
}

#timeInput {
    height: 2vw;
    font-size: 1.25vw;
}

#dateInput {
    height: 4vw;
}

/* Formatting for the checkboxes (typeOption & typeOptionLabel) */
.typeOption {
    height: 0.8vw;
    width: 0.8vw;
}

.ccTypeOption, .platTypeOption {
    height: 1.2vw;
    width: 2.2vw;
    margin-top: 2%;
}

.typeOptionLabel {
    font-size: 1.25vw;
    font-family: "Judson", serif;
}

.submitButton {
    background-color: #a80000;
    color: white;
    border-color: black;
    border-radius: 20px;
    border-width: 2px;
    font-size: 1vw;
    padding: 1%;
    font-family: "Judson", serif;
    width: 20%;
    height: auto;
}

#policyLabelDiv {
    font-size: 1vw;
    letter-spacing: normal;
    margin-top: 5%;
}

#policyContainer {
    font-size: 12;
    overflow-y: auto;
    height: 6vw;
    width: 90%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2%;
    margin-bottom: 8%;
    border: 1px solid #000000;
}

#designDescription {
    margin-bottom: 50%;
}

#footerMessage {
    font-size: 0.75vw;
    color: rgb(84, 84, 84);
    font-family: 'Judson', serif;
}
