/* Josie's Bakery Custom Ordering */
.title {
    text-align: center;
    font-size: 4.25vw;
    font-family: "Sacramento", serif;
    margin-top: 3%;
}

/* Hand Made, With Love */
.subtitle {
    text-align: center;
    font-size: 1.25vw;
    font-family: "Judson", Geneva, Tahoma, sans-serif;
    padding-top: 1%;
    color: #a80000;
}

/* Largest Container */
.bodyContainer {
    display: flex;
    margin: auto;
    padding-top: 1%;
}

#bodyContainer {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

#confirmedLabel {
    font-size: 2vw;
    color: green;
    font-family: "Lato", serif;
    border-bottom: 1px solid #222222;
    padding-bottom: 12px;
}

#confirmedMessage {
    font-size: 1vw;
    font-family: "Lato", serif;
    color: #222222;
    line-height: 1.5vw;
    font-weight: 500;
    border-bottom: 1px solid #222222;
    padding-bottom: 3%;
}

#signature {
    color: #a80000;
    font-weight: 600;
    font-size: 1.25vw;
}

#message {
    padding-top: 3%;
}