<!DOCTYPE html>
<html>

<!-- NOTE: This page is for purely testing purposes at this stage. It is not secured yet, but the application 
            is not deployed yet. This page needs updates like:
                -> Security improvements 
                -> Style changes
                -> Functionality improvements
                -> Methods to handle search criteria 
-->

<head>
    <meta charset="utf-8">   
</head>
<header>
    <link rel="stylesheet" href="../static/search-orders.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Judson">
</header>

<body> 

    <div id="title" class="row">
        <h1 id="title">Search Orders</h1>
    </div>

    <!-- SEARCH CRITERIA SECTION -->
    <h1 id="searchForLabel">Search By:</h1>

    <form id="inputForm" name="inputForm" action="/search" method="post">
        <div id="formContentContainer" class="column">
            <div id="nameRow" class="row">
                <label id="nameInputLabel" class="label">Name</label>
                <input type="text" id="nameInput" name="nameInput" class="input" value="" placeholder="First Last">
            </div>
            <div id="dateRow" class="row">
                <label for="dateInput" id="dateInputLabel" class="label">Date</label>
                <input type="date" id="dateInput" name="dateInput" class="input" value="" placeholder="yyyy-mm-dd">
            </div>
        </div>

        <input type="submit" id="submitButton">
    </form>

    <!-- OUTPUT SECTION -->
    <div id="outputArea" name="outputArea" hidden>

        <div id="singleOrder" hidden>
            <p id="customerName" name="customerName" class="generalInfo">John Doe</p>
            <p id="pickupDate" name="pickupDate" class="generalInfo">10-10-2022</p>
            <p id="pickupTime" name="pickupTime" class="generalInfo">10:00am</p>
            <p id="phoneNumber" name="phoneNumber" class="generalInfo">123-456-7890</p>
            <br>
            <p id="orderInfo">order detail list ...</p>
            <br><hr><br>

        <div id="multiOrder" hidden>
            <p class="generalInfo">testing...</p>
        </div>
        
        </div>

    </div>


</body>
</html>